AGH/FormularzZgloszeniowy-Grzegorz_Tereszkiewicz.pdf
AGH/zgloszenie.pdf
AGH/Zgłoszenie1848.pdf
*.exe
*.ilk
*.zip
*.exp
*.obj
*.dll
*.pdb
*.nativecodeanalysis.xml
*.lib
build
.vs
c_cpp_properties.json
settings.json
.clangd
AGH/C++/src/main.cpp
AGH/dokumenty/zgloszenie.pdf
.gitignore
AGH/dokumenty/Zgłoszenie1848.pdf
AGH/dokumenty/FormularzZgloszeniowy-Grzegorz_Tereszkiewicz.pdf
